@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {font-family: 'Ubuntu', sans-serif;
}
thead tr th {background-color: rgb(78, 88, 99); color: aliceblue;}

caption, tfoot {background-color:darkgrey;}

.BFPrice {background-color: rgb(124, 223, 182); 
text-align: center;}

th, td, caption {border: .5px black solid;}

table {border-collapse: collapse;}
tbody tr {background-color:rgb(195, 223, 233);}
tbody tr:nth-child(2n+1){background-color:rgb(170, 204, 170);}