/* CSS HEX */
:root {
--light-gray: #CECFCAff;
--spanish-gray: #919590ff;
--maize-crayola: #FACB60ff;
--gray-x-11-gray: #BBBCB8ff;
--spanish-gray-2: #9C9993ff;}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playball&display=swap');

/* font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Playball', cursive; */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
}

/*-----------Nav----------------*/
nav {
    background-color: #666;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 33%;
}
nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    border-left: 1px solid #777;
    padding: .5rem .5rem;
    text-decoration: none;
    font-size: .7rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
nav {background-color: rgb(219, 223, 219);}
.nav-info, .weather figure, .nav-logo, .menu, #primarynav {display: flex; justify-content: space-around; 
align-items: center}
.nav-info {background-color: #333; color: rgb(255, 226, 159);}
.nav-info a {color: rgb(255, 226, 159); padding: 0 .2rem;}
.nav-number {font-size: .8rem; margin: 0;}
.callus-txt {display: none;}
.humidity-txt,#humidity, .weather-desc, .nav-address,.weather figure i {display: none;}

/*weather*/
.weather figure {margin: 0; justify-items: center;
font-size: .8rem;}
.weather figure img {width:38px;}


/*nav menu*/
.menu {justify-content: space-around; align-items: center; border-top:1px solid #CECFCAff;}
.nav-logo img {width: 48px;}
.nav-logo p {display: none;}

/*-------------MAIN----------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

.call-action {margin:0 -2%;}
.call-action figure {border:1px solid rgba(85, 84, 84, 0.438);margin: 0; position: relative; 
    width: 100vw; height: 230px; text-align: center; color:white;}
.call-action figure h2, .call-action figure p  {margin: 5% 10%; text-shadow: 5px 5px 7px #333;}
.call-action figure button {
    margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color:#333;
  border-radius: 10px;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FACB60ff 0%, rgb(252, 219, 144)  51%, #FACB60ff 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;}

.call-action figure button:focus {box-shadow: rgb(221, 159, 13) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #c5991e 0 -3px 0 inset;}
.call-action figure button:active {
    transform: scale(0.95);
  }
.call-action figure button:hover {
    background-position: right center;
  color:rgb(199, 195, 195);
  text-decoration: none;
  }

.call-action figure img {position: absolute; filter:grayscale(20%) drop-shadow(5px 5px 15px rgb(89, 92, 89));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;}

/*temple info*/
.temple-summary figure{width: 100%; margin: 0;}
.temple-summary p {margin: 1.5rem;}
p.wainfo {border-left: 8px solid #FACB60ff; background-color: rgb(223, 231, 230); margin: 1% 5px; padding: .5rem;}
.temple-summary figure img {width: 100%; border-radius: 5px;}
.one h2 {
    margin-left:5% ;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.2em;
    padding-bottom: 15px;
    position: relative;
  }
  .one h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
  }
  .one h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
  }

/*----------- FOOTER --------------*/
footer {color: #BBBCB8ff;
    background-color: rgb(41, 37, 28);
    padding: .5rem 5%;
    text-align: center;
}

footer form fieldset {border: none;}

footer input {margin-bottom: 4%;}

.social-media-links{font-size: 24px;}
.social-media-links a {margin: 5%;}
footer a {color: rgb(255, 226, 159);}

/*footer form*/
footer form, footer form fieldset {
    margin: 0 auto;
    align-items: center;
    justify-items: center;
  }
footer textarea {
    resize: none;
    margin-bottom: .5rem;
  }
footer input{border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    background: none;}
footer input,
footer textarea {
    margin: .6rem auto;
    display: inline-block;
  background: none;
  color: #BBBCB8ff;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 250px;
  border-radius: 0;
  border-bottom: 1px solid mix(white, #424242, 80%);}
footer input:focus, footer textarea:focus {
    outline: none;
  }
footer input::placeholder, footer textarea::placeholder {
    color: #BBBCB8ff;
  }
.submitBtn {
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;}

/*------------------temples---------------------*/

.temples-menu {margin: 1rem auto;
	padding: 0.5rem;
    border: none;
	text-align: center;
}
.temples-menu button {
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;

  background:#333;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.temples-menu button:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }
article {border-radius: 5px;}
article,
article section {
	margin: 0.75rem;
}

article section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background: linear-gradient(-70deg,#919590ff,#9C9993ff,#BBBCB8ff);
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    line-height: 1.4;
    
}
article section:hover {
	margin-bottom: -5px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	        box-shadow: 0 0 5px rgba(0,0,0,0.7);}
    
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
}

.grid section > * {
	margin: 0.1rem;
}

.list section {
	flex-direction: row;
	justify-content: left;
}

.list section > * {
	margin: 0 1rem;
	text-align: left;
}

.list section img {
	display: none; /* smaller viewports only */
}

article section h3 {
    color: #fff;
	padding: 10px;
	margin-top: 100px;
	text-align: center;
	font-weight: 100;
	font-size: 25px;
	background: rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.7);
	        box-shadow: 0 0 30px rgba(0,0,0,0.8);
	font-size: 0.8rem;
}
article p {color: #fff;}
article section a {
	font-size: 0.9rem;
}

article img {
    border-radius: 3px;
	max-width: 100%; /* Images are jerks - Seattle*/
}

@media (min-width: 700px) {
	.list section img {
		display: block;
	}
}


/*-----------------Reservation-----------------*/
.reservation-main {margin: 0 3%;}
div.elem-group {
    margin: 20px 0;
  }
  
div.elem-group.inlined {
    width: 49%;
    float: left;
    margin-left: 1%;
  }

.reservation-form {margin: 1.5rem auto;}  
.reservation-form label {display: block;
    padding-bottom: 10px;
    font-size: 1.25em;}

.reservation-form input, .reservation-form select,.reservation-form textarea {border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

.reservation-form textarea {
    height: 250px;
  }

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.reservation-form button {
    background-color: initial;
    margin: auto;
    background-image: linear-gradient(-180deg, #FACB60ff, rgb(252, 177, 2));
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.reservation-form button:hover {
    box-shadow: rgb(252, 177, 2) 0 7px 7px;
}