/* CSS HEX */
:root {
--light-gray: #CECFCAff;
--spanish-gray: #919590ff;
--maize-crayola: #FACB60ff;
--gray-x-11-gray: #BBBCB8ff;
--spanish-gray-2: #9C9993ff;}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playball&display=swap');

/* font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Playball', cursive; */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
}

/*-----------Nav----------------*/
nav {
    background-color: #666;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 33%;
}
nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    border-left: 1px solid #777;
    padding: .5rem .5rem;
    text-decoration: none;
    font-size: .7rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
nav {background-color: rgb(219, 223, 219);}
.nav-info, .weather figure, .nav-logo, .menu, #primarynav {display: flex; justify-content: space-around; 
align-items: center}
.nav-info {background-color: #333; color: rgb(255, 226, 159);}
.nav-info a {color: rgb(255, 226, 159); padding: 0 .2rem;}
.nav-number {font-size: .8rem; margin: 0;}
.callus-txt {display: none;}
.humidity-txt,#humidity, .weather-desc, .nav-address,.weather figure i {display: none;}

/*weather*/
.weather figure {margin: 0; justify-items: center;
font-size: .8rem;}
.weather figure img {width:38px;}


/*nav menu*/
.menu {justify-content: space-around; align-items: center; border-top:1px solid #CECFCAff;}
.nav-logo img {width: 48px;}
.nav-logo p {display: none;}

/*-------------MAIN----------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

.call-action {margin:0 -2%;}
.call-action figure {border:1px solid rgba(85, 84, 84, 0.438);margin: 0; position: relative; 
    width: 100vw; height: 230px; text-align: center; color:white;}
.call-action figure h2, .call-action figure p  {margin: 5% 10%; text-shadow: 5px 5px 7px #333;}
.call-action figure button {
    margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color:#333;
  border-radius: 10px;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FACB60ff 0%, rgb(252, 219, 144)  51%, #FACB60ff 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;}

.call-action figure button:focus {box-shadow: rgb(221, 159, 13) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #c5991e 0 -3px 0 inset;}
.call-action figure button:active {
    transform: scale(0.95);
  }
.call-action figure button:hover {
    background-position: right center;
  color:rgb(199, 195, 195);
  text-decoration: none;
  }

.call-action figure img {position: absolute; filter:grayscale(20%) drop-shadow(5px 5px 15px rgb(89, 92, 89));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;}

/*temple info*/
.temple-summary figure{width: 100%; margin: 0;}
.temple-summary p {margin: 1.5rem;}
p.wainfo {border-left: 8px solid #FACB60ff; background-color: rgb(223, 231, 230); margin: 1% 5px; padding: .5rem;}
.temple-summary figure img {width: 100%; border-radius: 5px;}
.one h2 {
    margin-left:5% ;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.2em;
    padding-bottom: 15px;
    position: relative;
  }
  .one h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
  }
  .one h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
  }

/*----------- FOOTER --------------*/
footer {color: #BBBCB8ff;
  background-color: #333;
    padding: .5rem 5%;
    text-align: center;
}

footer form fieldset {border: none;}

footer input {margin-bottom: 4%;}

.social-media-links{font-size: 24px;}
.social-media-links a {margin: 5%;}
footer a {color: rgb(255, 226, 159);}

/*footer form*/
footer form, footer form fieldset {
    margin: 0 auto;
    align-items: center;
    justify-items: center;
  }
footer textarea {
    resize: none;
    margin-bottom: .5rem;
  }
footer input{border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    background: none;}
footer input,
footer textarea {
    margin: .6rem auto;
    display: inline-block;
  background: none;
  color: #BBBCB8ff;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 250px;
  border-radius: 0;
  border-bottom: 1px solid mix(white, #424242, 80%);}
footer input:focus, footer textarea:focus {
    outline: none;
  }
footer input::placeholder, footer textarea::placeholder {
    color: #BBBCB8ff;
  }
.submitBtn {
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;}

/*------------------temples---------------------*/

.temples-menu {margin: 1rem auto;
	padding: 0.5rem;
    border: none;
	text-align: center;
}
.temples-menu button {
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;

  background:#333;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.temples-menu button:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }
article {border-radius: 5px;}
article,
article section {
	margin: 0.75rem;
}

article section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background: linear-gradient(-70deg,#919590ff,#9C9993ff,#BBBCB8ff);
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    line-height: 1.4;
    
}
article section:hover {
	margin-bottom: -5px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	        box-shadow: 0 0 5px rgba(0,0,0,0.7);}
    
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
}

.grid section > * {
	margin: 0.1rem;
}

.list section {
	flex-direction: row;
	justify-content: left;
}
.list section p {display: none;}
.list section > * {
	margin: 0 1rem;
	text-align: left;
}

.list section img {
  height: 100px;
	display: none; /* smaller viewports only */
}

article section h3 {
    color: #fff;
	padding: 10px;
	margin-top: 100px;
	text-align: center;
	font-weight: 100;
	font-size: 25px;
	background: rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.7);
	        box-shadow: 0 0 30px rgba(0,0,0,0.8);
	font-size: 0.8rem;
}
article p {color: #fff;}
article section a {
	font-size: 0.9rem;
}

article img {filter:grayscale(20%) drop-shadow(5px 5px 15px rgb(89, 92, 89));
    border-radius: 3px;
	max-width: 100%; /* Images are jerks - Seattle*/
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

@media (min-width: 700px) {
	.list section img {
		display: block;
	}
  .list section p {display: block;}
}


/*-----------------Reservation-----------------*/
.reservation-main {margin: 0 3%;}
div.elem-group {
    margin: 20px 0;
  }
  
div.elem-group.inlined {
    width: 49%;
    float: left;
    margin-left: 1%;
  }

.reservation-form {margin: 1.5rem auto;}  

.reservartion-banner {filter:grayscale(20%) drop-shadow(5px 5px 15px rgb(89, 92, 89)); margin-top:1rem; display: flex; background-size: cover; background-repeat: no-repeat; background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/44115hd.jpg"); height: 200px;}
.reservartion-banner h2{width: 100%; text-align: center; color:#eee; margin: auto 0; padding: .5rem; background-color: rgba(51, 51, 51, 0.61);}
.reservation-form label {display: block;
    padding-bottom: 10px;
    font-size: 1.25em;}

.reservation-form input, .reservation-form select,.reservation-form textarea {border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

.reservation-form textarea {
    height: 250px;
  }

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.reservation-form button {
    background-color: initial;
    margin: auto;
    background-image: linear-gradient(-180deg, #FACB60ff, rgb(252, 177, 2));
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.reservation-form button:hover {
    box-shadow: rgb(252, 177, 2) 0 7px 7px;
}

/*--------------------Services---------------*/
.services-main{padding:0; display: grid;}
.services-main figure figcaption {
  border-radius: 5px 5px 0 0;
  background-color: #333;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}
.services-main figure img{float: left; border-radius: 3px; filter:grayscale(20%) drop-shadow(5px 5px 15px rgb(89, 92, 89))}
.services-main figure {
  padding: 4px;
  margin: auto;
  position: relative;
}
.ten {display: flex; justify-content: center;}
.ten h1 {
  font-size:1.2rem; font-weight:500; text-transform:uppercase;
}
.missionary h1 {width: 70%;}
.ten h1:before {
    background-image: linear-gradient(-45deg, rgb(96, 181, 250), rgb(152, 2, 252));
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 0.35rem;
    width: 100%;
    margin-bottom: .5rem;
}
#playfigcaption,#familysearch {display: none;}

.serviceBox{
  color: #db7100;
  font-family: 'Zen Maru Gothic', sans-serif;
  text-align: center;
  padding: 25px 10px 0;
  position: relative;
  z-index: 1;
}
.serviceBox:before{
  content: "";
  height: 80px;
  width: 80px;
  border: 2px dashed #db7100;
  border-radius: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
}
.serviceBox .title{
  color: #fff;
  background-color: #db7100;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 4px 10px 6px;
  margin: 0 -10px 5px;
  display: inline-block;
}
.serviceBox .service-icon{
  font-size: 45px;
  margin: 0 0 70px;
}   
.serviceBox .description{
  color: #555;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}
.serviceBox.gray{ color: #5A696E; }
.serviceBox.gray:before{ border-color: #5A696E; }
.serviceBox.gray .title{ background-color: #5A696E; }
.serviceBox.pink{ color: #F1605D; }
.serviceBox.pink:before{ border-color: #F1605D; }
.serviceBox.pink .title{ background-color: #F1605D; }
.serviceBox.purple{ color: #8D4B7F; }
.serviceBox.purple:before{ border-color: #8D4B7F; }
.serviceBox.purple .title{ background-color: #8D4B7F; }
.serviceBox.blue{ color: #2d75a5; }
.serviceBox.blue:before{ border-color: #2d75a5; }
.serviceBox.blue .title{ background-color: #2d75a5; }
.serviceBox.yelow{ color: #FACB60ff; }
.serviceBox.yelow:before{ border-color: #FACB60ff; }
.serviceBox.yelow .title{ background-color: #FACB60ff; }
.serviceBox.green{ color: rgb(47, 143, 44); }
.serviceBox.green:before{ border-color: rgb(47, 143, 44); }
.serviceBox.green .title{ background-color: rgb(47, 143, 44); }
@media only screen and (max-width: 990px){
  .serviceBox{ margin: 0 0 30px; }
}

.free {display: flex; text-align: center; justify-items: center; width: 90vw; flex-wrap: wrap;}
.serviceBox {margin: 0 auto;}

.playroom h1::before{background-image: linear-gradient(-45deg,rgb(250, 247, 96),rgb(114, 250, 96), rgb(250, 96, 96), rgb(2, 194, 252));}
.history h1::before {background-image: linear-gradient(-45deg, rgb(119, 91, 14), #9C9993ff,rgb(74, 73, 75));}
.wedding h1::before {background-image: linear-gradient(-45deg, rgb(240, 233, 233), rgb(209, 192, 159),rgb(247, 156, 144));}
.family h1::before {background-image: linear-gradient(-45deg, rgb(37, 177, 24), rgb(141, 221, 125),rgb(82, 80, 85));}
.missionary h1::before {background-image: linear-gradient(-45deg,rgb(231, 240, 230),rgb(96, 137, 250),rgb(5, 0, 54));}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



@media only screen and (min-width: 35rem) {


  /*----------- BODY --------------*/
  
  
  
  /*----------- HEADER --------------*/
  
  
  
  /*----------- NAVIGATION --------------*/
  .nav-logo p {display: block; font-family: 'Playball'; font-size: 1.3rem;}
      nav ul {margin-left: 2%;}
      nav ul li {width: auto;}
      nav ul li:first-child a {border-left: 1px solid #777;}
      nav ul li:last-child a {border-right: 1px solid #777;}
      nav ul li a{padding: .5rem 1rem; font-size: 1.2rem;}
      .nav-number {display:grid; grid-template-columns: auto auto; 
        align-items: center;}
      .fa-phone {grid-row: 1/3;padding: .5rem;}
      .callus-txt {display: block;}
      
      .humidity-txt,#humidity, .weather-desc, .nav-address,.weather figure i {display: block;}
      
      .weather figure{display: grid; grid-gap: 5px; grid-template-columns: auto auto auto auto auto; grid-template-rows: 1fr 1fr;}
      .weather-desc{grid-column: 2/4;}
      .humidity-txt {grid-column: 4/6;}
      #humidity {grid-column: 4/5; grid-row: 1/2;}
      .fa-droplet {grid-column: 5/6; grid-row: 1/2;}
      #weather-icon {grid-row: 1/4;}
  /*----------- MAIN --------------*/
  .call-action figure {height: 300px;}
  
  
  /*----------- FOOTER --------------*/
  footer {display: grid; grid-template-columns: auto auto;}    
  .social-media-links {margin-top: 1.5rem;}
  .temple-summary{padding: 0 15%;}
  .waparagraphs {display: flex;}


/*-------------temples---------------*/
.grid section img {height: 110px;}

/*--------------reservation------------------*/
.reservartion-banner {height: 300px;}
.reservation-form {padding:.2rem 10%;}

/*-----------------services--------------*/
.services-main {display: flex; flex-wrap: wrap; justify-content: space-evenly;}
.services-main section {width: 45%; margin-bottom: 2rem;}
.services-main figure img {width: 65%; margin: .2rem 1.5rem .2rem 0;}

#changeroom {width: 80%;}
#changeroom div {justify-content: flex-start;}

#treception div {justify-content:flex-end ;}
#treception figure img, #wedding figure img {float: right;}
#playfigcaption, #familysearch {border-radius: 0px 0px 5px 5px;}
#playfigcaption, #familysearch {display: block;}
#playfigcaptionS, #familysearchS {display: none;}
#familicenter div {justify-content: flex-start;}
#longterm {width: 80%;}
#freeservices {width: 100vw;}
.free {display: flex; justify-content:space-between; flex-wrap:wrap; width: 60vw; margin: auto;}
  } /* end of media query */ 

/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

  header, nav, main, footer {
      margin:auto;
  }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul li a{font-size: 1.3rem;}


/*----------- MAIN --------------*/

.call-action figure {height: 400px;}

/*----------- FOOTER --------------*/
  
} /* end of media query */