body {display: flex;
flex-direction: column;
align-items: center;}

picture {margin: 1rem;}

img[data-src] {
    filter: blur(0.1em);
  }
  
img {
    filter: blur(0em);
    transition: filter 0.3s;
  }
  