@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

nav {background-color: #0F222D;
display: flex;
flex-wrap: wrap;
justify-content:space-between;
padding: 1rem;
border-bottom: solid 1px #b9cad4;}

header {background-color: #0F222D;
color: #EBE7D9;
text-align: justify;
padding: 2rem;}

main {background-color: #0F222D;
color: #EBE7D9;
margin: 1.5rem;
padding-bottom: 0;}

footer {height: 15%;
    width: 100vw ;
    margin: 0;
    padding: 1rem;
    background-color: #d4c796;
font-size: 1.4rem;}

a  { color: #EBE7D9;
padding: 1.2rem;
text-decoration: none;}

nav img {max-width: 100%;}

nav ul {display: flex;
    flex-wrap: wrap;
justify-content: end;
padding-left: 0;}

li  {list-style: none;}


a:hover {background-color: #EBE7D9;
color: black;}
header h1 {color: #EBE7D9;}
main img  {border-style:groove;
    border-color:#EBE7D9;
max-width: 70vw;}

.porpuse_p {padding: 0 25% 0 25%;}

footer p {padding: 0 15% 0 11%;}

body {font-family: 'Roboto', sans-serif;
font-size: 1.24rem;
text-align: center;
background-color: #0F222D;}

/*small media q*/
@media only screen and (max-width: 36rem){
    body {font-size: .85rem;}
        
        nav {justify-content: center;
        padding: 0;
           align-items: center;}        
    nav ul {margin-left: -2.5rem;
            justify-content:space-around;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            }
            li {margin: 1rem .1rem 1rem .1rem;
            align-items: center;
            padding: 0;}
            a {font-size: .9rem;}
    
}
    
/*medium media q*/
@media only screen and (max-width: 64em) {
    body {font-size: 1rem;}

    nav, nav ul {justify-content: center;
    padding: 0;
    align-items: center;}
}